<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestiondeportiva">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddActividadActivity"></activity>
        <activity
            android:name=".ActividadesActivity"
            android:label="@string/title_activity_actividades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddTorneoActivity" />
        <activity
            android:name=".TorneosActivity"
            android:label="@string/title_activity_torneos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddHorarioActivity" />
        <activity
            android:name=".HorarioActivity"
            android:label="@string/title_activity_horario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".EntrenadorActivity" />
        <activity android:name=".AddDeportistaActivity" />
        <activity
            android:name=".DeportistasActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>